{% extends "base.html" %} {% block content %}
<div class="card-body">
  <section class="container container-fluid">
    <h1 class="text-center m-5">Lista de Empregados</h1>
    <table class="table-bordeless table table-hover">
      <thead style="background: var(--bs-pink); color: #fff">
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Valor da Diaria</th>
          <th scope="col">E-mail</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
        <tr>
          <td>{{ employee.Nome }}</td>
          <td>R$ {{ employee.Valor_da_Diária}}</td>
          <td>{{ employee.Email }}</td>
          <td>
            <a type="button" class="btn btn-warning" href="/employee-update/{{ employee.id }}"
              ><i class="bi-pencil-fill"></i
            ></a>
            <a type="button" class="btn btn-danger" href="/employee-delete/{{ employee.id }}">
              <i class="bi-trash-fill"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a type="button" class="btn btn-success" href="{%url 'employee-create' %}">Criar Novo</a>
  </section>
</div>
{% endblock %}
